@import "../../_variables";

.LinePosition {
  height: 100%;
  width: 1px;
  transform: translateX(-50%);
  background-color: $marker-color;
  position: absolute;
  top: 0;
  left: 50%;
  transition: $default-transition-marker;
}
